html {
  background: url(../images/cliff.jpg) no-repeat top left;
}
@media all and (min-width:1196px){
  #bear{
  position:absolute;
  margin-bottom: 100px;
}
}
#bear {
  position: absolute;
  top: 100px;
  right: 0;
}

/* Write your solution here */
