html {
  background: url(../images/croc.jpg) no-repeat top left;
}
@media all and (max-width:1300px){
  #ostrich{
    position:fixed;
    bottom: 200px;
    right:0;
  }
}
#ostrich {
  position: absolute;
  top: 50px;
  right: 0;
}

/* Write your solution here */
